Repository saucelabs/elemental-next, pull requests merged in 2023-05, with the labels that each got.

#479 adding contentUrl to Ruby docs and templates
  frontend/docs/updated-tips/0-template/csharp.md
  frontend/docs/updated-tips/0-template/java.md
  frontend/docs/updated-tips/0-template/javascript.md
  frontend/docs/updated-tips/0-template/python.md
  frontend/docs/updated-tips/0-template/ruby.md
  frontend/docs/updated-tips/1-how-to-upload-a-file/ruby.md
  frontend/docs/updated-tips/10-retry-test-actions-ruby/ruby.md
  frontend/docs/updated-tips/11-build-an-interactive-prompt/ruby.md
  frontend/docs/updated-tips/12-opt-out-of-ab-tests/ruby.md
  frontend/docs/updated-tips/13-how-to-access-basic-auth/ruby.md
  frontend/docs/updated-tips/15-download-secure-files/ruby.md
  frontend/docs/updated-tips/16-take-screenshot-on-failure/ruby.md
  frontend/docs/updated-tips/17-retrieve-http-status-codes/17-retrieve-http-status-codes.md
  frontend/docs/updated-tips/18-how-to-figure-out-what-to-update/what-to-test.md
  frontend/docs/updated-tips/19-data-driven-testing/ruby.md
  frontend/docs/updated-tips/2-download-a-file/ruby.md
  frontend/docs/updated-tips/21-adding-a-language/adding-a-language.md
  frontend/docs/updated-tips/22-locator-strategy/ruby.md
  frontend/docs/updated-tips/23-dynamic-pages/ruby.md
  frontend/docs/updated-tips/24-rest-apis/ruby.md
  frontend/docs/updated-tips/25-how-to-work-with-tables/ruby.md
  frontend/docs/updated-tips/26-cloud/ruby.md
  frontend/docs/updated-tips/29-chrome-driver/ruby.md
  frontend/docs/updated-tips/3-work-with-frames/ruby.md
  frontend/docs/updated-tips/31-archives/31-archives.md
  frontend/docs/updated-tips/36-available-resources/36-available-resources
  frontend/docs/updated-tips/39-drag-and-drop/ruby.md
  frontend/docs/updated-tips/4-work-with-multiple-windows/ruby.md
  frontend/docs/updated-tips/40-disabled-element/ruby.md
  frontend/docs/updated-tips/44-exception-handling/ruby.md
  frontend/docs/updated-tips/45-how-to-test-checkboxes/ruby.md
  frontend/docs/updated-tips/47-waiting/ruby.md
  frontend/docs/updated-tips/48-load-testing/48-load-testing-ruby.md
  frontend/docs/updated-tips/49-performance-testing/49-performance-testing-ruby.md
  frontend/docs/updated-tips/5-select-from-a-dropdown/ruby.md
  frontend/docs/updated-tips/50-how-to-work-with-hovers/ruby.md
  frontend/docs/updated-tips/51-how-to-work-with-javascript-alerts/ruby.md
  frontend/docs/updated-tips/53-growl/ruby.md
  frontend/docs/updated-tips/55-wrapper/ruby.md
  frontend/docs/updated-tips/57-junit-xml/ruby.md
  frontend/docs/updated-tips/58-tagging/ruby.md
  frontend/docs/updated-tips/60-list-tags/ruby.md
  frontend/docs/updated-tips/61-how-to-press-keyboard-keys/ruby.md
  frontend/docs/updated-tips/63-right-click/ruby.md
  frontend/docs/updated-tips/64-limit-bandwidth/64-limit-bandwidth-ruby.md
  frontend/docs/updated-tips/65-highlight-elements/ruby.md
  frontend/docs/updated-tips/66-blacklist/66-blacklist-ruby.md
  frontend/docs/updated-tips/67-broken-images/67-broken-images-ruby.md
  frontend/docs/updated-tips/68-load-testing-revisited/68-load-testing-revisited-ruby.md
  frontend/docs/updated-tips/69-safari/ruby.md
  frontend/docs/updated-tips/7-use-a-page-object/ruby.md
  frontend/docs/updated-tips/71-mobile-testing-pyramid/mobile-testing-pyramid.md
  frontend/docs/updated-tips/72-headless-chrome/ruby.md
  frontend/docs/updated-tips/73-open-new-window/ruby.md
  frontend/docs/updated-tips/8-download-a-file-revisited/ruby.md
  frontend/docs/updated-tips/9-use-a-base-page-object/ruby.md
  frontend/src/data.js
Labels: frontend

#454 Menu
  frontend/docusaurus.config.js
  frontend/src/css/custom.css
  frontend/src/pages/signup.js
  frontend/static/img/logo.png
Labels: frontend

#485 Added emojis to readme
  README.md
Labels: documentation

#484 Adding emojis to Contributing
  CONTRIBUTING.md
Labels: documentation

#482 Menu
  frontend/docusaurus.config.js
  frontend/src/css/custom.css
  frontend/src/pages/resources.module.css
Labels: frontend

#481 Pull Request Template
  .github/pull_request_template.md
Labels: documentation, help wanted

#513 Filtered Ruby Tips on Tips Page
  frontend/docs/0-template/ruby.md
  frontend/src/scripts/data.js
  frontend/src/scripts/getFrontmatter.js
Labels: frontend

#519 sort ruby tips, and remove template from tips page
  frontend/docs/0-template/csharp.md
  frontend/docs/0-template/java.md
  frontend/docs/0-template/javascript.md
  frontend/docs/0-template/python.md
  frontend/docs/0-template/ruby.md
  frontend/docs/26-cloud/ruby.md
  frontend/docs/4-work-with-multiple-windows/ruby.md
  frontend/docs/7-use-a-page-object/ruby.md
  frontend/docs/9-use-a-base-page-object/ruby.md
  frontend/src/scripts/data.js
  frontend/src/scripts/getFrontmatter.js
Labels: frontend

#527 Landing Page
  frontend/src/components/icard.js
  frontend/src/css/custom.css
  frontend/src/css/icard.css
  frontend/src/css/index.css
  frontend/src/css/navbar.css
  frontend/src/css/tips.css
  frontend/src/pages/index.js
Labels: frontend

#528 traffic light filter
  frontend/src/components/card.js
  frontend/src/css/card.css
  frontend/src/pages/tips.js
  frontend/static/img/traffic_filter/level1.svg
  frontend/static/img/traffic_filter/level2.svg
  frontend/static/img/traffic_filter/level3.svg
Labels: frontend

#529 editing cypress dir and readme
  Tests/Cypress/README.md
  Tests/Cypress/e2e/brokenlinks-e2e.cy.js
  Tests/Cypress/e2e/signup-e2e.cy.js
  Tests/Cypress/manual/brokenlinks-manual.cy.js
  Tests/Cypress/manual/signup-manual.cy.js
Labels: test-QA

#530 installed cypress and created first e2e broken links test.
  Tests/Cypress/e2e/brokenlinks-e2e.cy.js
  Tests/Cypress/e2e/signup-e2e.cy.js
  Tests/Cypress/manual/brokenlinks-manual.cy.js
  Tests/Cypress/manual/signup-manual.cy.js
  Tests/cypress-tests/README.md
  Tests/cypress-tests/cypress.config.js
  Tests/cypress-tests/cypress/e2e/brokenlinks-landing.cy.js
  Tests/cypress-tests/cypress/fixtures/example.json
  Tests/cypress-tests/cypress/support/commands.js
  Tests/cypress-tests/cypress/support/e2e.js
  Tests/cypress-tests/package.json
  Tests/deque-tests/pending deque test.md
  Tests/selenium-tests/pending selenium test.md
Labels: test-QA

#532 tips tags
  frontend/src/components/card.js
  frontend/src/css/card.css
  frontend/src/pages/tips.js
Labels: frontend

#552 Oldest/Newest Dropdown
  frontend/s
  frontend/src/components/card.js
  frontend/src/components/dropdown.js
  frontend/src/css/dropdown.css
  frontend/src/pages/tips.js
  frontend/src/scripts/getFrontmatter.js
Labels: frontend

#557 filter
  frontend/src/components/icard.js
Labels: frontend

#195 52-python code unable to validate
  frontend/docs/52-grid/python.md
Labels: help wanted, content

#553 Update README.md with testing info
  README.md
Labels: documentation

#563 Cypress badge
  .github/workflows/cypress-tests.yml
  README.md
  Tests/cypress-tests/package.json
  Tests/deque-tests/pending deque test.md
  frontend/cypress.config.js
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/package.json
  frontend/tests/cypress/README.md
  frontend/tests/cypress/cypress.config.js
  frontend/tests/cypress/cypress/fixtures/example.json
  frontend/tests/cypress/cypress/support/commands.js
  frontend/tests/cypress/cypress/support/component-index.html
  frontend/tests/cypress/cypress/support/component.js
  frontend/tests/cypress/e2e/brokenlinks-landing.cy.js
  frontend/tests/cypress/fixtures/example.json
  frontend/tests/cypress/support/commands.js
  frontend/tests/cypress/support/e2e.js
  frontend/tests/deque-tests/README.md
  frontend/tests/deque-tests/accessibility-reports.md
  frontend/tests/selenium-tests/pending selenium test.md
Labels: test-QA

#560 updated tests folder name and added files to deque-tests
  frontend/tests/deque-tests/README.md
Labels: documentation, test-QA

#576 fixed dates in metadata
  frontend/docs/1-how-to-upload-a-file/csharp.md
  frontend/docs/1-how-to-upload-a-file/java.md
  frontend/docs/1-how-to-upload-a-file/ruby.md
  frontend/docs/12-opt-out-of-ab-tests/csharp.md
  frontend/docs/12-opt-out-of-ab-tests/java.md
  frontend/docs/13-how-to-access-basic-auth/csharp.md
  frontend/docs/16-take-screenshot-on-failure/csharp.md
  frontend/docs/16-take-screenshot-on-failure/java.md
  frontend/docs/17-retrieve-http-status-codes/ruby.md
  frontend/docs/18-how-to-figure-out-what-to-update/ruby.md
  frontend/docs/2-download-a-file/csharp.md
  frontend/docs/2-download-a-file/java.md
  frontend/docs/21-adding-a-language/ruby.md
  frontend/docs/25-how-to-work-with-tables/csharp.md
  frontend/docs/25-how-to-work-with-tables/java.md
  frontend/docs/29-chrome-driver/csharp.md
  frontend/docs/29-chrome-driver/java.md
  frontend/docs/3-work-with-frames/csharp.md
  frontend/docs/3-work-with-frames/javascript.md
  frontend/docs/3-work-with-frames/ruby.md
  frontend/docs/31-archives/ruby.md
  frontend/docs/36-available-resources/ruby.md
  frontend/docs/4-work-with-multiple-windows/csharp.md
  frontend/docs/4-work-with-multiple-windows/java.md
  frontend/docs/40-disabled-element/csharp.md
  frontend/docs/40-disabled-element/java.md
  frontend/docs/40-disabled-element/python.md
  frontend/docs/45-how-to-test-checkboxes/csharp.md
  frontend/docs/45-how-to-test-checkboxes/java.md
  frontend/docs/45-how-to-test-checkboxes/python.md
  frontend/docs/48-load-testing/ruby.md
  frontend/docs/49-performance-testing/ruby.md
  frontend/docs/5-select-from-a-dropdown/csharp.md
  frontend/docs/5-select-from-a-dropdown/java.md
  frontend/docs/5-select-from-a-dropdown/python.md
  frontend/docs/50-how-to-work-with-hovers/csharp.md
  frontend/docs/50-how-to-work-with-hovers/java.md
  frontend/docs/51-how-to-work-with-javascript-alerts/csharp.md
  frontend/docs/51-how-to-work-with-javascript-alerts/java.md
  frontend/docs/51-how-to-work-with-javascript-alerts/ruby.md
  frontend/docs/52-grid/java.md
  frontend/docs/52-grid/javascript.md
  frontend/docs/52-grid/python.md
  frontend/docs/53-growl/csharp.md
  frontend/docs/53-growl/java.md
  frontend/docs/53-growl/ruby.md
  frontend/docs/61-how-to-press-keyboard-keys/csharp.md
  frontend/docs/61-how-to-press-keyboard-keys/java.md
  frontend/docs/63-right-click/csharp.md
  frontend/docs/63-right-click/java.md
  frontend/docs/64-limit-bandwidth/ruby.md
  frontend/docs/65-highlight-elements/csharp.md
  frontend/docs/65-highlight-elements/java.md
  frontend/docs/66-blacklist/ruby.md
  frontend/docs/67-broken-images/ruby.md
  frontend/docs/68-load-testing-revisited/ruby.md
  frontend/docs/69-safari/csharp.md
  frontend/docs/71-mobile-testing-pyramid/ruby.md
  frontend/docs/8-download-a-file-revisited/csharp.md
  frontend/docs/8-download-a-file-revisited/java.md
Labels: content

#596 cypress readme
  frontend/tests/cypress/readme.mdx
Labels: documentation
